body {
  margin: 0;
}


.border1 {
  border: 5px solid cyan;

}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-block {
  background-color: black;
  height: 20px;
  width: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#one {
  background-color: red;
}

#two {
  background-color: green;
}

#three {
  background-color: blue;
}

p {
  margin: 0;
  /* border: 3px solid blue; */
  
  justify-content: center;
  align-items: center;
  /* height: auto;
  width: auto; */
}

h1 {
  margin: 0;
  /* border: 3px solid blue; */
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .main-container {
    border: 5px solid red;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
  }

  .top-section {
    border: 5px solid red; 
    display: flex;
    height: 50vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .bottom-section {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    
  }

}


@media (min-width: 992px) {

  .main-container {
    border: 5px solid green;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-section {
    border: 5px solid red; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vh;
    flex: 1;
  }

  .bottom-section {
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vh;
    flex: 1;
  }

}

